*{
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: url(./eat-sleep-code-repeat-background-digital-art-hd-wallpaper-uhdpaper.com-249@0@g.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    color: white;
    /* background-repeat: no-repeat; */
}
#app{
    display: flex;
    gap: 100px;
    padding: 10px 100px;
}
.profile{
    border: 1px solid gray;
    width: 400px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
img{
    width: 100%;
}
.image-container{
    width: 200px;
    height: 200px;
    border: 1px groove whitesmoke;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: black;
}
.currentDate{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.links a{
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}
#link{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.goals{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 100%; */
}
.goals > h2{
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 20px;
    width: fit-content;
}
.mygoals{
    list-style-type: none;
}
li{
    height: 100px;
    position: relative;
    border-left: 1px solid gray;
    padding: 10px 15px;
}
.ball{
    position: absolute;
    left: -5.5px;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
}
@media (max-width:1024px) {
    #app{
        flex-direction: column;
        gap: 50px;
        align-items: center;
        padding: 5px 50px;
    }
    
}
@media (max-width:480px) {
    #app{
        padding: 5px 20px;
    }
    .profile{
        width: 100%;
    }   
}